<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
</head>
<body>
  <h2><%= data.name %>の詳細</h2>
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.code %></td></tr>
    <tr><td>駅名</td><td><%= data.name %></td></tr>
    <tr><td>乗り換え線</td><td><%= data.change %></td></tr>
    <tr><td>東京駅からの距離</td><td><%= data.distance %></td></tr>
  </table>
  <a href="/keiyo2/edit/<%= id %>">編集</a>
  <a href="/keiyo2">駅一覧に戻る</a>
</body>
</html>